.layout {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.navigation {
  background-color: inherit;;
}

.logo {
  width: 200px;
  height: 50px;
  float: left;
  margin-top: 4px;
}

.footer {
  color: white;
}

.content, .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-wrapper {
  text-align: center;
}

.home {
  width: 100%;
  height: 100%;
  background-image: url('/public/cropped.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content-wrapper {
  width: 50%;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 10em;
  color: whitesmoke;
  display: block;
}
.tagline1 {
  font-weight: bolder;
  font-size: 2em;
  margin: 0;
  line-height: 1;
}

.contact-form {
  text-align: left;
}

.service-info {
  display: flex;
  text-align: left
  margin-bottom: 1em;
}