.layout {
  margin: 2% auto;
  height: 95vh;
  width: 95vw;
}

.navigation {
  background-color: transparent;
}

.home {
  background-image: url('/public/the-humble-co-cADflhZzgyo-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

